nav.nav.flex.center-y.center-x(data-controller="navigation" data-toggle="collapse" lang="es")
    section.nav-row(data-collapse="responsive")
        div.nav-col.flex.center-y
            a.nav-brand(href="https://adrastealabs.com/" data-brand="imagotype")

        div.nav-col
            ul.unordered-list
                li.unordered-list-element
                    a.nav-link(href="services.html")
                        span.nav-text Servicios

                li.unordered-list-element
                    a.nav-link(href="templates.html")
                        span.nav-text Templates

                li.unordered-list-element
                    a.nav-link(href="about.html")
                        span.nav-text Nosotros

                li.unordered-list-element
                    a.nav-link(href="blog")
                        span.nav-text Blog

        div.nav-col
            ul.unordered-list
                li.unordered-list-element
                    a.nav-link(href="lab.html")
                        span.nav-text Lab

                li.unordered-list-element
                    a.nav-link(href="contact.html")
                        span.nav-text Contacto