div.sidebar.fixed.flex.flex-column.center-y(lang="es")
    ul.unordered-list
        li.unordered-list-element
            a.nav-link.vertical-txt(href="")
                span.nav-txt Blog

        li.unordered-list-element
            a.nav-link.vertical-txt(href="")
                span.nav-txt Nosotros

        li.unordered-list-element
            a.nav-link.vertical-txt(href="")
                span.nav-txt Templates

        li.unordered-list-element
            a.nav-link.vertical-txt(href="")
                span.nav-txt Servicios

    section.sidebar-line

    ul.unordered-list
        li.unordered-list-element
            a.nav-icon.flex(href="https://twitter.com/adrastealabs/" target="_blank")
                span(tootltip="Twitter" flow="right")
                    img(class="nav-svg" src="" alt="social-icon")

        li.unordered-list-element
            a.nav-icon.flex(href="https://www.github.com/adrastealabs/" target="_blank")
                span(tootltip="GitHub" flow="right")
                    img(class="nav-svg" src="" alt="social-icon")

        li.unordered-list-element
            a.nav-icon.flex(href="https://www.linkedin.com/company/adrastealabs/" target="_blank")
                span(tootltip="LinkedIn" flow="right")
                    img(class="nav-svg" src="" alt="social-icon")

        li.unordered-list-element
            a.nav-icon.flex(href="https://www.dribbble.com/adrastealabs/" target="_blank")
                span(tootltip="Dribbble" flow="right")
                    img(class="nav-svg" src="" alt="social-icon")

        li.unordered-list-element
            a.nav-icon.flex(href="https://www.instagram.com/adrastealabs/" target="_blank")
                span(tootltip="Instagram" flow="right")
                    img(class="nav-svg" src="" alt="social-icon")
