doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Nosotros | Adrastea Labs
        link(rel="shortcut icon", href="favicon.ico", type="image/png")
        link(rel="stylesheet", type="text/css", href="style.css")
    body

        include pug/navbar.pug

        include pug/sidebar.pug

        div.global-column.auto(data-controller="infocontainer")

        include pug/footer.pug