doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Adrastea Labs | The Front-End Company
        link(rel="shortcut icon", href="#", type="image/png")
        link(rel="stylesheet", type="text/css"  href="adrastea.css")
    body
        include pug/navbar.pug

        include pug/sidebar.pug

        div.global-column.auto(data-controller="infocontainer")
            h1.light-txt Bienvenido a Adrastea
            section.p-container
                p.light-text Nos presentamos, somos Adrastea, un estudio especializado en diseño y desarrollo, con el propósito de crear una serie de productos y servicios que ayuden a nuestros clientes a conectar con los suyos de una manera cada vez más sofisticada y sencilla.
                    br
                    br
                    ¿Tienes algún proyecto? Comencemos hoy mismo.

                ul.unordered-list.flex
                    a.btn.btn-dark(href="services.html")
                        span.btn-txt Conoce nuestros servicios

                    a.btn.btn-dark-outline(href="about.html")
                        span.btn-txt Sobre nosotros

        footer.footer.absolute.flex.flex-end(style="bottom: 0; left: 0; padding: 0px 80px 40px 80px;" data-controller="footer")
            ul.unordered-list
                li.unordered-list-element
                    h6.light-txt © Adrastea Labs. Hecho con ❤ en México.
                li.unordered-list-element
                    a.link(href="privacy.html")
                        span.footer-txt Aviso de privacidad