//Defaulr styles


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap');


body{
    background-color: $dark;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: $light;
}

a, span, input, button, ul, ol, li,
textarea, blockquote{
    font-family: secondary-font;
}

code, pre{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: tertiary-font;
}

input, textarea, button{
    outline: 0px;
}

h1, h2, h3, h4, h5, h5{
    font-family: $primary-font;
}

h1{
    font-weight: 700;
    font-size: $h1-size;
}
h2{
    font-weight: 600;
    font-size: $h2-size;
}
h3{
    font-weight: 600;
    font-size: $h3-size;
}
h4{
    font-weight: 400;
    font-size: $h4-size;
}
h5{
    font-weight: 400;
    font-size: $h5-size;
}
h6{
    font-weight: 640;
    font-size: $h6-size;
}


//Positions
.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.fixed{
    position: fixed;
}

.auto{
    margin: 0px auto;
}


//Flexbox
.flex{
    display: flex;

    &-start{
        justify-content: flex-start;
    }

    &-end{
        justify-content: flex-end;
    }

    &-column{
        flex-direction: column;
    }
}

.wrap{
    flex-wrap: wrap;
}

.vertical{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}