// Navigation bar styles


.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background-color: transparent;
    border-bottom: transparent;
    transition: 0.4s ease;
    z-index: 1000;

    &-row{
        width: 100%;
        height: auto;
        max-width: 1200px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    &-col{
        width: 100%;
        height: 30px;
    }

    &.sticky{
        background-color: $dark-tr-100;
        backdrop-filter: blur-300;
        border-bottom: 1px solid $dark-100;
    }

    &-brand{
        display: flex;
        width: 130px;
        height: 26px;
        background-image: url();
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    &-link{
        font-size: $link-100;
        font-weight: $font-400;
        color: $light;
        transition: 0.3s ease;

        &:hover{
            opacity: 0.5;
        }
    }

    &-icon{
        width: 15px;
        margin: 10px 10px;
    }

    &-vector{
        width: 100%;
        height: 100%;
        object-fit: contain;
        padding: 0px 8px;
    }
}

.toggle{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 10px;

    &-icon{
        position: inherit;
        width: 25px;
        height: 25px;
    }

    &-bar{
        position: absolute;
        width: 25px;
        height: 1px;
        top: 6px;
        left: 0px;
        background-color: $light;
    }

    &-bar:before{
        position: absolute;
        content: '';
        width: 25px;
        height: 1px;
        top: 6px;
        left: 0px;
        background-color: $light;
    }
}

@media only screen and (max-width: 300px){
    .nav{
        
        &-row{
            max-width: 90%;
        }
    }
}