$dark:                                  #0C0E13;
$black:                                 #000000;
$light:                                 #FFFFFF;
$blue:                                  #12161E;
$grey:                                  #8D8D8D;


$dark-100:                              #272727;


//Font styles

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Lato', sans-serif;

//Link fonts
$link-100: 15px;

//Button font sizes
$normal: 15px;
$small: 12px;
$large: 18px;

//Paragraph sizes
$p-100: 16px;
$p-200: 20px;

$font-100:                              100;
$font-200:                              200;
$font-300:                              300;
$font-400:                              400;
$font-500:                              500;
$font-600:                              600;
$font-700:                              700;
$font-800:                              800;
$font-900:                              900;