//Variables style sheet


$dark:                                  #0C0E13;
$black:                                 #000000;
$light:                                 #FFFFFF;
$blue:                                  #12161E;
$grey:                                  #8D8D8D;


$dark-100:                              #272727;


//Transparent colors
$dark-tr-100: rgba(12, 14, 19, 0.7);


//Blur variants
$blur-100: blur(5px);
$blur-200: blur(10px);
$blur-300: blur(15px);
$blur-400: blur(20px);
$blur-500: blur(25px);


//Font styles

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Lato', sans-serif;
$tertiary-font: 'IBM Plex Mono', monospace;

//Heading sizes
$h1-size: 55px;
$h2-size: 40px;
$h3-size: 32px;
$h4-size: 21px;
$h5-size: 18px;
$h6-size: 15px;

//Link fonts
$link-100: 15px;

//Button font sizes
$normal: 15px;
$small: 12px;
$large: 18px;

//Paragraph sizes
$p-100: 16px;
$p-200: 20px;

$font-100:                              100;
$font-200:                              200;
$font-300:                              300;
$font-400:                              400;
$font-500:                              500;
$font-600:                              600;
$font-700:                              700;
$font-800:                              800;
$font-900:                              900;