//Variables style sheet


$dark:                                  #0C0E13;
$black:                                 #000000;
$light:                                 #FFFFFF;
$blue:                                  #12161E;
$grey:                                  #8D8D8D;
$purple:                                #663DFF;
$aqua:                                  #00E4F7;
$twitter:                               #1DA1F2;
$css:                                   #1572B6;
$html:                                  #E34F26;
$js:                                    #F7DF1E;

//Dark variants
$dark-100:                              #272727;
$dark-200:                              #10131A;
$dark-300:                              #0C0F14;
$dark-400:                              #090A0E;

//Grey variants
$grey-100:                              #B5B5B5;
$grey-200:                              #5E5D58;
$grey-300:                              #666560;

//Blue variants
$blue-100:                              #6DB0FF;


//Transparent colors
$dark-tr-100: rgba(12, 14, 19, 0.7);
$light-tr-100: rgba(255, 255, 255, 0.7);




//Blur variants
$blur-100: blur(5px);
$blur-200: blur(10px);
$blur-300: blur(15px);
$blur-400: blur(20px);
$blur-500: blur(25px);




//Font styles

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Lato', sans-serif;
$tertiary-font: 'IBM Plex Mono', monospace;

//Heading sizes
$h1-size: 55px;
$h2-size: 40px;
$h3-size: 32px;
$h4-size: 21px;
$h5-size: 18px;
$h6-size: 15px;

//Link fonts
$link-100: 15px;

//Button font sizes
$small: 12px;
$normal: 16px;
$medium: 14px;
$large: 18px;

//Paragraph sizes
$p-100: 16px;
$p-200: 20px;

$font-100:                              100;
$font-200:                              200;
$font-300:                              300;
$font-400:                              400;
$font-500:                              500;
$font-600:                              600;
$font-700:                              700;
$font-800:                              800;
$font-900:                              900;





//Shadows
$shadow-100: 0px 10px 65px rgba(6, 6, 6, 0.4);
$shadow-200: 0px 10px 45px rgba(6, 6, 6, 0.35);